body {
  background-color: #0466c8ee;
}
.para h2 {
  color: red;
  font-weight: 400;
  font-size: 2.5rem;
}
.para p {
  color: #48ff00;
  font-weight: 300;
  font-size: 19px;
}

#content {
  margin-top: 100px;
}
#mainnavbar .navbar-brand {
  color: #70e000;
}
#mainnavbar .nav-link {
  color: white;
  padding: 15px;
  margin-left: 50px;
}

#mainnavbar .nav-link:hover {
  color: #ffd300;
}
#headinggroups h1 {
  font-weight: 400;
  font-size: 2.8rem;
}

#headinggroups span {
  color: rgb(168, 12, 12);
}
#mainnavbar.scrolled {
  background-color: #ff4d6d;
}
@media (max-width: 1200px) {
  #headinggroups h1 {
    font-size: 2rem;
  }
}
