body {
  background-color: rgb(250, 225, 229);
}
.para h2 {
  color: red;
  font-weight: 200;
  font-size: 2.5rem;
}
.para p {
  color: rgb(230, 100, 122);
  font-weight: 200;
}

#content {
  margin-top: 100px;
}
#mainnavbar .navbar-brand {
  color: rgb(216, 77, 77);
}
#mainnavbar .nav-link {
  color: white;
}

#mainnavbar .nav-link:hover {
  color: rgba(216, 77, 77, 0.76);
}
#headinggroups h1 {
  font-weight: 100;
  font-size: 3rem;
}

#headinggroups span {
  color: rgb(168, 12, 12);
}
#mainnavbar.scrolled {
  background-color: rgb(222, 205, 225);
}
@media (max-width: 1200px) {
  #headinggroups h1 {
    font-size: 2rem;
  }
}
